@import url('fonts.css');
@import url('navbar.css');
@import url('buttons.css');
@import url('branding.css');
@import url('ranks-modal.css');
@import url('media-queries.css');
* {
    margin: 0px;
    padding: 0px;
    
    font-family: 'OpenSansRG', sans-serif;
}

.italic-purple {
    font-style: italic;
    color: #a92cff;
    font-family: 'OpenSansEX', sans-serif;
}

#float-left {
    margin-right: 250px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 60px;
}

img {
    width: 100px;
}