@import url('fonts.css');
@import url('navbar.css');
@import url('buttons.css');

* {
    margin: 0px;
    padding: 0px;
    background-color: #F3F0F6;
    font-family: 'OpenSansRG', sans-serif;
}

.italic-purple{
    font-style: italic;
    color: #8C52FF;
    font-family: 'OpenSansEX', sans-serif;
}

#float-left{
    margin-right: 250px;
}